@font-face {
    font-family: 'docs-Oswald'; /*a name to be used later*/
    src: url('assets/Oswald-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'opensans'; /*a name to be used later*/
    src: url('assets/OpenSans-Regular.ttf'); /*URL to font*/
}
body{
    background-image: url("/assets/safetyfront-min.jpg");
    cursor: url("assets/cursor@2x.png"), auto;
    background-size: cover;
}
centerheader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
}
#samplebox{
    background-color: #ff3029;
    background-size: cover;
}
#samplebox{
    text-align: center;
    display: flex;
    justify-content: center;
}
#sampletext{
    font-size: 4vw;
    font-family: docs-Oswald, sans-serif;
    color: #ffffff;
    font-weight: 700;
    vertical-align: center;
    float: left;
    padding-right: 20px;
}
#sample{
    margin-top: auto;
    margin-bottom: auto;
}
#plainbg{
    background-image: url("/assets/safetyback-min2.jpg");
    background-color: #cccccc;
    background-size: cover;
    cursor: url("assets/cursor@2x.png"), auto !important;
}
.menu_blank {
    clear: both;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #ff3029;
}
#banner{
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.images {
    display: table-cell;
    vertical-align:middle;
}
.images img {
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
#disclaimertext{
    font-size: 4vw;
    font-family: docs-Oswald, sans-serif;
    color: #000000;
    font-weight: 700;
    vertical-align: center;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
}
#subtext{
    font-size: 1.3vw;
    font-family: opensans, sans-serif;
    color: #000000;
    vertical-align: baseline;
    text-align: center;
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}
.link:hover {
    cursor: url("assets/cursor@2x.png"), auto;
}