head{
    background-image: url("/assets/safetyfront-min.jpg");
    background-color: #cccccc;
    cursor: url("assets/cursor@2x.png"), auto;
}
body{
    background-image: url("/assets/safetyback-min.jpg");
    background-color: #cccccc;
    cursor: url("assets/cursor@2x.png"), auto;
}
