body{
    background-image: url("/assets/safetyback-min.jpg");
    background-color: #cccccc;
    cursor: url("assets/cursor@2x.png"), pointer;
}
.plainbg {
    background-image: url("/assets/safetyback-min.jpg");
    background-color: #cccccc;
}